################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/web_tabel.sln/FileContentIndex/75d3eb26-9740-45c9-b202-5756fb4736f5.vsidx
