################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/web_tabel.sln/FileContentIndex/75d3eb26-9740-45c9-b202-5756fb4736f5.vsidx
/.vs/web_tabel.sln/FileContentIndex/495a7a81-356f-480d-a8dd-c149f4fb197b.vsidx
/.vs/web_tabel.sln/FileContentIndex/4a242a53-c7f9-4a48-8973-64957de45383.vsidx
/.vs/web_tabel.sln/FileContentIndex/970bb959-444e-4241-adbe-7abc6af0c670.vsidx
/.vs/web_tabel.sln/FileContentIndex/b44f5cb8-14ef-4301-8b4b-68c5e6e48261.vsidx
/.vs/web_tabel.sln/FileContentIndex/eb6dc7c8-207b-4ecd-9784-eed7545e295a.vsidx
/.vs/web_tabel.sln/FileContentIndex
/web_table.Web/time_shift.db-shm
