@using Newtonsoft.Json
@using web_tabel.Domain
@{
    var selectedPeriodString = Context.Session.GetString("SessionPeriodId");
    Guid selectedPeriod = selectedPeriodString == null ? Guid.Empty : new Guid(selectedPeriodString);
    string periodsJson = Context.Session.GetString("SessionPeriods");
    List<TimeShiftPeriod> periods = string.IsNullOrEmpty(periodsJson) ? new List<TimeShiftPeriod>() : JsonConvert.DeserializeObject<List<TimeShiftPeriod>>(periodsJson); 
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>@ViewData["Title"] - web_table.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/web_table.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/dataTables.min.css"/>
    
    <!--<link href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/fixedcolumns/5.0.0/css/fixedColumns.dataTables.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/fixedheader/4.0.1/css/fixedHeader.dataTables.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/rowgroup/1.5.0/css/rowGroup.dataTables.css" rel="stylesheet" />-->
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="TimeShift" asp-action="Index">Табель</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Справочники (из 1С)</a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">


                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="EmployeeCondition" asp-action="Index">Состояния сотрудников</a>
                                </li>


                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="TypeOfWorkingTime" asp-action="Index">Виды рабочего времени</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="StaffSchedule" asp-action="Index">Штатное расписание</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="WorkSchedule" asp-action="Index">Графики</a>
                                </li>
                            </ul>

                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Period" asp-action="Index">Периоды</a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex align-items-center flex-nowrap me-3">
                    <select id="select_period" class="nav-item form-select" asp-items="@(new SelectList(periods, "Id", "Name", selectedPeriod))">
                        <option value="">Выберите период</option>
                    </select>
                </div>
                <form class="d-flex align-items-center flex-nowrap" asp-controller="TimeShift" asp-action="Search">
                    <input name="searchText" class="form-control" type="search" placeholder="Search" aria-label="Search" value="@TempData["SearchString"]" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-success my-2 my-sm-0 d-inline-block" type="submit">Поиск</button>
                    </div>
                </form>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="form-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="loaderbody" id="loaderbody">
        <div class="loader"></div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - web_table.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/dataTables.min.js"></script>
    <!--<script src="https://cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/5.0.0/js/dataTables.fixedColumns.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/4.0.1/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://cdn.datatables.net/rowgroup/1.5.0/js/dataTables.rowGroup.js"></script>
    <script src="https://cdn.datatables.net/rowgroup/1.5.0/js/rowGroup.dataTables.js"></script>--> 

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/multiselect-dropdown.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
