<tr> 
    <td colspan="2">
        <span class="@ViewData["header"] text-center">@ViewData["Name"]</span>
    </td>
    <td style="display:none;"></td>
    @for(int j = 0; j < (int)ViewData["colSpan"] - 2; j++)
    {
        <td></td>
    }
</tr>

