@using System.Globalization
@using web_tabel.Domain
@model IEnumerable<web_table.Web.ViewModel.EmployeeTimeShiftDTO>
@{
    Layout = "_Layout";
}

<h1>Текущий табель</h1>

@*@Html.Partial("_PeriodSelect")*@

<h3>Нет данных по периоду</h3>
<p class="text-info">Для заполнения планового графика по периоду, необходимо заполнить из периода.</p>