@model DateTime
@{
    Layout = null;
}

<h4>Заполнить за @Model.ToString("dd.MM.yyyy")?</h4>

<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
<button type="button" class="btn btn-primary" id="btn_FillInDay">Заполнить</button>