@model IEnumerable<web_table.Web.ViewModel.EmployeeTimeShiftDTO>
@{
    Layout = "_Layout";
}

<h1>Текущий табель</h1>

@{
    var dts = Model.ElementAt(0).Dates; 
}

<div class="row mb-3">
    <div class="col-md-6 inline">
        <div id="FormDiv">

        @using (Html.BeginForm("Index","TimeShift"))
        {
            @Html.DropDownList("departmentId", new SelectList(ViewBag.Departments, "Id", "Name"),"-- Подразделение",new { id="depList", @class="form-control dropdown"})
        }
        </div>
    </div>
    <div class="col-md-6">

    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <td>Сотрудник</td>
            @foreach (var item in dts)
            {
                <td style="width:10px">@item.ToString("M")</td>
            }
            <td></td>
        </tr>
    </thead>
    <tbody>

        @{
            @*var employees = Model.Select(i => i.EmployeeName).Distinct().ToList();*@
            foreach (var emp in Model)
            {
                @await Html.PartialAsync("_EmployeeTimeShift", emp);
            }
        }

    </tbody>
</table>

